


/*-----------------------------------   mindegyik oldalra igaz   -----------------------------------*/
html, body {
  overflow: hidden; /* a scrollbbart oldalro leltunteti*/
}




/*-----------------------------------   Emailsend page   -----------------------------------*/

.emailsendpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}


.emailsendpage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}

.emailsendpage article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

#emailSend:hover, #pdftorles:hover, #fajlkivalasztas:hover, #athelyezes:hover, #kuldes:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#emailSend:active, #pdftorles:active, #fajlkivalasztas:active, #athelyezes:active, #kuldes:active {
  transform: scale(0.92);
}


.megjelenoAdatok {
  font-weight: bold;
}


.emailsendpage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}

.scrollable-container {
  max-height: 200px; 
  overflow-y: auto; 
  padding-right: 10px; 

  margin-top: 10px;
  width: 100%; 
  max-width: 580px;
  display: block;
  padding: 10px;
}
/*  border: 1px solid #ccc;*/

.scrollable-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.scrollable-container li {
  padding: 8px 0; /* Felső és alsó padding, hogy szép legyen */
  border-bottom: 1px solid #ddd; /* Vízszintes vonal a listaelemek között */
}

.scrollable-container li:last-child {
  border-bottom: none; /* Az utolsó elemnél ne legyen alatta vízszintes vonal */
}


.result-container {
  display: flex;
  gap: 20px;
}



.megjelenoAdatok {
  display: flex;
  gap: 20px;
}

.hibaContainer, .letezokContainer {
  flex: 1;
  min-width: 300px;
}







/* reszponzivitas miatt*/
@media (max-width: 1200px) {
  .emailsendpage article {
    width: 100%;
    height: auto;
  }
  
  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    width: 100%;
    font-size: 14px;
    padding: 10px 12px;
  }

  #torlesGomb {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .emailsendpage {
    flex-direction: column; 
    justify-content: flex-start;
  }
  
  .emailsendpage article {
    padding: 15px;
    width: 90%;
    height: auto;
  }
  
  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    font-size: 14px;
    padding: 8px 10px;
  }

}

@media (max-width: 480px) {
  .emailsendpage article {
    width: 100%;
    height: auto;
  }

  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
  }
}



















/*-----------------------------------   login page   -----------------------------------*/

.loginpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.loginpage .login-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.loginpage .login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.loginpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.loginpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.loginpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.loginpage input:focus::placeholder {
          color: transparent;
}

.loginpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.loginpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.loginpage .links {
  margin-top: 20px;
}

.loginpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.loginpage .links a:hover {
  text-decoration: underline;
}






/*<span class="loader"></span> */
.loader{
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 48px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffb00;
  }
  .loader:before, .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0)
  }
  50% {
    height: 10px;
    width: 40px
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%)
  }
}









/*-----------------------------------   forgotpassword page   -----------------------------------*/

.forgotpasswordpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.forgotpasswordpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.forgotpasswordpage .forgotpassword-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.forgotpasswordpage .forgotpassword-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.forgotpasswordpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.forgotpasswordpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.forgotpasswordpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.forgotpasswordpage input:focus::placeholder {
          color: transparent;
}

.forgotpasswordpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.forgotpasswordpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.forgotpasswordpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.forgotpasswordpage .links {
  margin-top: 20px;
}

.forgotpasswordpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.forgotpasswordpage .links a:hover {
  text-decoration: underline;
}

#forgotText {
  font-size: small;
  color: whitesmoke;
}

.right-corner {
  position: absolute;
  top: 10px;
  right: 10px; 
  text-align: right; 
  font-size: 1.2rem; 
  font-weight: bold; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px 10px; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


















/*-----------------------------------   uploaddatabase page   -----------------------------------*/

.uploaddatabasepage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.uploaddatabasepage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}

.uploaddatabasepage .container {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  background-color: #3D3D3D;
  border-radius: 10px;
  border: 3px solid gray;
  color: white;
  padding: 20px;
}


.uploaddatabasepage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 32%;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}



.uploaddatabasepage .tallozas, .kuldes {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

.uploaddatabasepage .tallozas:hover, .kuldes:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.uploaddatabasepage .tallozas:active, .kuldes:active {
  transform: scale(0.92);
}








/* Reszponzív beállítások */
@media (max-width: 991px) {
  .uploaddatabasepage .container {
    flex-direction: column;
    height: auto;
  }

  .uploaddatabasepage .email-section{
    flex: 1;
    border-right: none;
    border-bottom: 1px solid #000;
  }

  .uploaddatabasepage .email-section {
    border-bottom: 1px solid gray;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 80%;
  }
}

@media (max-width: 767px) {

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 90%;
  }
}

@media (max-width: 575px) {

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 100%;
  }

  .uploaddatabasepage h2 {
    font-size: 18px;
  }
}























/*-----------------------------------   register page   -----------------------------------*/

.registerpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.registerpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
}

.registerpage .registration-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.registerpage .registration-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.registerpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.registerpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.registerpage input::placeholder {
  color: cadetblue;
  font-style: italic;
  transition: color 0.3s ease;
}

.registerpage input:focus::placeholder {
  color: transparent;
}

.registerpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}

.registerpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registerpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.registerpage .links {
  margin-top: 20px;
}

.registerpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.registerpage .links a:hover {
  text-decoration: underline;
}

























/*-----------------------------------   usersmanagement page   -----------------------------------*/
.usersmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.usersmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}

.usersmanagement article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden; /* Prevent overflow on smaller screens */
}




#kuldes:active {
  transform: scale(0.92);
}



.usersmanagement .table-container {
  overflow-x: auto;
}
 
.usersmanagement h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}




















/*-----------------------------------   studentsmanagement page   -----------------------------------*/
.studentsmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}
  
.studentsmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}
  
.studentsmanagement article {
  
  width: 1600px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden
}
  




.studentsmanagement .search-container {
  max-width: 300px; 
  margin-left: 10px;
  margin-bottom: 20px;
}













.studentsmanagement table thead {
  position: sticky;
  top: 0; /* Ez a sor biztosítja, hogy a thead a táblázat tetején maradjon */
  background-color: #343a40; /* Az alap sötét háttérszín, hogy illeszkedjen a táblázat dizájnjához */
  z-index: 1; /* Biztosítja, hogy a fejléc a többi tartalom felett maradjon */
}




.studentsmanagement .table-container {
  overflow-x: auto;
}



 


#kuldes:active {
  transform: scale(0.92);
}
  
.studentsmanagement input {
  color: black;
}

.studentsmanagement h1 {
background-color: lightslategrey;
padding: 10px 20px; 
margin: 0 auto;
margin-bottom: 20px;
border-radius: 15px; 
color: white;
text-align: center;
}










/* ------------------------------------ reset password  -----------------------------*/

#resetBtn{
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;

}






/*-----------------------------------   logspage   -----------------------------------*/
.logspage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.logspage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}



.logspage article {
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.szures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#nemkaptaebbenahonapban, #legutoljarapenzugy, #kimaradtkikuldesek, #hanypdfkuldesegyevben, #sohanemkapottpfdet {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

#nemkaptaebbenahonapban:hover, #legutoljarapenzugy:hover, #kimaradtkikuldesek:hover, #hanypdfkuldesegyevben:hover, #sohanemkapottpfdet:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#nemkaptaebbenahonapban:active, #legutoljarapenzugy:active, #kimaradtkikuldesek:active, #hanypdfkuldesegyevben:active, #sohanemkapottpfdet:active{
  transform: scale(0.92);
}



.logspage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}


.nszInput{
  color: black;
}

.nevSzures{
   margin-top: 15px;
}

.logspage .table-container {
  overflow-x: auto;
  overflow-y: auto; 
  max-height: 50vh; 
}



















/*-----------------------------------   navigációs sáv   -----------------------------------*/
.navigacio {
  background-color: #3D3D3D;
  color: white;
}


.navigacio a {
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  margin-right: 40px;
}

.navigacio a:hover {
  color: white;
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(231, 76, 60, 0.5); 
  background-color: #e74c3c;
  transform: scale(1.1);
}

.navigacio a:visited {
  color: white; 
}


/*ezek a kijelentkezes gombra érvényesek*/
.navigacio button {
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  margin-right: 40px;
}

.navigacio button:hover {
  color: white;
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(231, 76, 60, 0.5);
  background-color: #e74c3c;
  transform: scale(1.1);
}

.navigacio button:visited {
  color: white;
}



.navbar-nav {
  display: flex;
    justify-content: center;
    width: 100%; 
}















/*-----------------------------------   oldal betöltése szöveg   -----------------------------------*/
.center-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

.loading-body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  height: 100vh;
}










