

/*-----------------------------------   home page   -----------------------------------*/

.homepage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.homepage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage article {
  width: 1200px;
  height: 610px;
  background-color: rgb(213, 248, 248);
  display: flex;
  flex-direction: column; /* Átállítjuk oszlopelrendezésre */
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#kuldgomb, #athelyez, #myfile, #jsonCreate, #emailSend, #csakdisz, #abEllenorzes, #torlesGomb, #pdftorles, #torolMailek {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

#kuldgomb:hover, #athelyez:hover, #myfile:hover, #jsonCreate:hover, #emailSend:hover, #csakdisz:hover, #abEllenorzes:hover, #torlesGomb:hover, #pdftorles:hover, #torolMailek:hover {
  background-color: #e74c3c; /* Orangered */
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#kuldgomb:active, #athelyez:active, #myfile:active, #jsonCreate:active, #emailSend:active, #csakdisz:active, #abEllenorzes:active, #torlesGomb:active, #pdftorles:active, #torolMailek:active {
  transform: scale(0.92); /* Gomb "összenyomása" */
}

#torlesGomb {
  width: 30%;
  margin-left: 70%;
}

.megjelenoAdatok {
  font-weight: bold;
}
















/*-----------------------------------   admin page   -----------------------------------*/

.adminpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.adminpage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.adminpage .container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: rgb(213, 248, 248);*/
  background-color: #3D3D3D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
  border: 3px solid gray;
}




.adminpage .section {
  width: 30%;
  background-color: lightblue;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adminpage h2 {
  text-align: center;
  margin-bottom: 20px;
}

.adminpage .kuldes {
  background-color: cadetblue;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  text-align: center;
}

.adminpage .kuldes:hover {
  background-color: orangered;
  transform: scale(1.05);
}




.adminpage .oldal2 {
  position: absolute; /* Position it absolutely */

  display: block;
  padding: 10px 15px;
  background-color: cadetblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.adminpage .oldal2:hover {
  background-color: orangered;
  transform: scale(1.05);
}




















/*-----------------------------------   Emailsend page   -----------------------------------*/

.emailsendpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.emailsendpage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.emailsendpage article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden; /* Prevent overflow on smaller screens */
}

#kuldgomb, #athelyez, #myfile, #jsonCreate, #emailSend, #csakdisz, #abEllenorzes,
#torlesGomb, #pdftorles, #torolMailek, #fajlkivalasztas, #athelyezes, #kuldes {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

#kuldgomb:hover, #athelyez:hover, #myfile:hover, #jsonCreate:hover, #emailSend:hover,
#csakdisz:hover, #abEllenorzes:hover, #torlesGomb:hover, #pdftorles:hover, #torolMailek:hover,
#fajlkivalasztas:hover, #athelyezes:hover, #kuldes:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#kuldgomb:active, #athelyez:active, #myfile:active, #jsonCreate:active, #emailSend:active,
#csakdisz:active, #abEllenorzes:active, #torlesGomb:active, #pdftorles:active, #torolMailek:active,
#fajlkivalasztas:active, #athelyezes:active, #kuldes:active {
  transform: scale(0.92);
}

#torlesGomb {
  width: 30%;
  margin-left: 70%;
}

.megjelenoAdatok {
  font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .emailsendpage article {
    width: 100%;
    height: auto;
  }
  
  #kuldgomb, #athelyez, #myfile, #jsonCreate, #emailSend, #csakdisz, #abEllenorzes,
  #torlesGomb, #pdftorles, #torolMailek, #fajlkivalasztas, #athelyezes, #kuldes {
    width: 100%;
    font-size: 14px; /* Slightly smaller font size */
    padding: 10px 12px;
  }

  #torlesGomb {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .emailsendpage {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    justify-content: flex-start;
  }
  
  .emailsendpage article {
    padding: 15px;
    width: 90%;
    height: auto;
  }
  
  #kuldgomb, #athelyez, #myfile, #jsonCreate, #emailSend, #csakdisz, #abEllenorzes,
  #torlesGomb, #pdftorles, #torolMailek, #fajlkivalasztas, #athelyezes, #kuldes {
    font-size: 14px;
    padding: 8px 10px;
  }

  #torlesGomb {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .emailsendpage article {
    width: 100%;
    height: auto;
  }

  #kuldgomb, #athelyez, #myfile, #jsonCreate, #emailSend, #csakdisz, #abEllenorzes,
  #torlesGomb, #pdftorles, #torolMailek, #fajlkivalasztas, #athelyezes, #kuldes {
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
  }
}





.emailsendpage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}















/*-----------------------------------   login page   -----------------------------------*/

.loginpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.loginpage .login-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.loginpage .login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.loginpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.loginpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.loginpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.loginpage input:focus::placeholder {
          color: transparent;
}

.loginpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.loginpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.loginpage .links {
  margin-top: 20px;
}

.loginpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.loginpage .links a:hover {
  text-decoration: underline;
}






/*<span class="loader"></span> */
.loader{
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 48px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffb00;
  }
  .loader:before, .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0)
  }
  50% {
    height: 10px;
    width: 40px
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%)
  }
}









/*-----------------------------------   forgotpassword page   -----------------------------------*/

.forgotpasswordpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.forgotpasswordpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.forgotpasswordpage .forgotpassword-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.forgotpasswordpage .forgotpassword-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.forgotpasswordpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.forgotpasswordpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.forgotpasswordpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.forgotpasswordpage input:focus::placeholder {
          color: transparent;
}

.forgotpasswordpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.forgotpasswordpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.forgotpasswordpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.forgotpasswordpage .links {
  margin-top: 20px;
}

.forgotpasswordpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.forgotpasswordpage .links a:hover {
  text-decoration: underline;
}

#forgotText {
  font-size: small;
  color: whitesmoke;
}

.right-corner {
  position: absolute;
  top: 10px;
  right: 10px; 
  text-align: right; 
  font-size: 1.2rem; 
  font-weight: bold; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px 10px; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


















/*-----------------------------------   uploaddatabase page   -----------------------------------*/

.uploaddatabasepage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.uploaddatabasepage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.uploaddatabasepage .container {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 3px solid gray;
  color: white;
}

.uploaddatabasepage .email-section,
.uploaddatabasepage .error-log {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #000;
}

.uploaddatabasepage .error-log {
  border-right: none;
  border-left: 2px solid gray;
}

.uploaddatabasepage .email-section {
  border-right: 2px solid gray;
}

.uploaddatabasepage .elkuldottek {
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.uploaddatabasepage h2 {
  text-align: center;
  margin-bottom: 20px;
}

.uploaddatabasepage .browse-btn,
.uploaddatabasepage .send-btn {
  display: block;
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.uploaddatabasepage .kuldes,
.uploaddatabasepage .tallozas {
  background-color: cadetblue;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.uploaddatabasepage .kuldes:hover,
.uploaddatabasepage .tallozas:hover {
  background-color: orangered;
  transform: scale(1.05);
}

.uploaddatabasepage .email-list {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #e0e0e0;
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uploaddatabasepage .email-entry {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #dcdcdc;
  border: 1px solid #ccc;
}

/* Reszponzív beállítások */
@media (max-width: 991px) {
  .uploaddatabasepage .container {
    flex-direction: column;
    height: auto;
  }

  .uploaddatabasepage .email-section,
  .uploaddatabasepage .error-log {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid #000;
  }

  .uploaddatabasepage .email-section {
    border-bottom: 1px solid gray;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .uploaddatabasepage .email-list {
    width: 100%;
    height: 250px;
    max-height: 250px;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .uploaddatabasepage .email-list {
    width: 100%;
    height: 200px;
    max-height: 200px;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 100%;
  }

  .uploaddatabasepage h2 {
    font-size: 18px;
  }
}























/*-----------------------------------   register page   -----------------------------------*/

.registerpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.registerpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
}

.registerpage .registration-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.registerpage .registration-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.registerpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.registerpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.registerpage input::placeholder {
  color: cadetblue;
  font-style: italic;
  transition: color 0.3s ease;
}

.registerpage input:focus::placeholder {
  color: transparent;
}

.registerpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}

.registerpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registerpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.registerpage .links {
  margin-top: 20px;
}

.registerpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.registerpage .links a:hover {
  text-decoration: underline;
}

























/*-----------------------------------   usersmanagement page   -----------------------------------*/
.usersmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.usersmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usersmanagement article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden; /* Prevent overflow on smaller screens */
}




#kuldes:active {
  transform: scale(0.92);
}



/*
.table-container {
  overflow-x: auto;
}
  */






















  /*-----------------------------------   studentsmanagement page   -----------------------------------*/
.studentsmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.studentsmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.studentsmanagement article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden;
}




#kuldes:active {
  transform: scale(0.92);
}



.studentsmanagement input {
  color: black;
}


.studentsmanagement h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}


