


/*-----------------------------------   mindegyik oldalra igaz   -----------------------------------*/
html, body {
  overflow: hidden; /* a scrollbbart oldalro leltunteti*/
}




/*-----------------------------------   Emailsend page   -----------------------------------*/

.emailsendpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}


.emailsendpage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.emailsendpage article {
  width: 100%;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 2%;
  margin-bottom: 15%;
}

.emailsendpage article .top #emailSend{
  margin-right: 100px;
}


#emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

.emailsendpage input {   /*fajlkivalasztas gombhoz*/
  display: none;
}

#emailSend:hover, #pdftorles:hover, #fajlkivalasztas:hover, #athelyezes:hover, #kuldes:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#emailSend:active, #pdftorles:active, #fajlkivalasztas:active, #athelyezes:active, #kuldes:active {
  transform: scale(0.92);
}


.emailsendpage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}

.emailsendpage .scrollable-container {
  max-height: 200px; 
  overflow-y: auto; 
  padding-right: 10px; 

  margin-top: 10px;
  width: 100%; 
  max-width: 580px;
  display: block;
  padding: 10px;
}
/*  border: 1px solid #ccc;*/

.emailsendpage .scrollable-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emailsendpage .scrollable-container li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd; 
}

.emailsendpage .scrollable-container li:last-child {
  border-bottom: none; 
}


.result-container {
  display: flex;
  gap: 20px;
}



.emailsendpage .megjelenoAdatok {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.emailsendpage .hibaContainer, .letezokContainer {
  flex: 1;
  min-width: 300px;
}





.emailsendpage .bottom {
  display: flex; 
  gap: 20px; 
  padding: 20px;
}

.emailsendpage .bottom p {
  cursor: pointer;
}

.emailsendpage .bottom-left {
  width: 43%; 
}















@media (max-width: 1200px) {
  .emailsendpage article {
    width: auto;
    height: auto;
    margin-bottom: 20%;
  }
  
  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    width: 40%;
    font-size: 14px;
  }

  #torlesGomb {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .emailsendpage {
    flex-direction: column; 
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .emailsendpage::-webkit-scrollbar {
    display: none;
  }

  .emailsendpage article {
    margin: 10%;
    margin-bottom: 30%;
  }

  .emailsendpage article .top #emailSend{
    margin-right: 10px;
  }
  
  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    font-size: 14px;
    padding: 8px 10px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
  }

  .bottom-left {
    border-bottom: 2px dashed white;
    width: 100%; 
    padding-bottom: 30px;
  }

}


@media (max-width: 480px) {
  .emailsendpage article {
    width: auto;
    height: auto;
  }

  .emailsendpage h1 {
    font-size: 6vw;
  }

  .emailsendpage .bottom p {
    font-size: 14px;
  }

  #emailSend, #pdftorles, #fajlkivalasztas, #athelyezes, #kuldes  {
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
  }
}


















/*-----------------------------------   login page   -----------------------------------*/

.loginpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.loginpage .login-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
  margin: 10%;
}

.loginpage .login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.loginpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.loginpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.loginpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.loginpage input:focus::placeholder {
          color: transparent;
}

.loginpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.loginpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.loginpage .links {
  margin-top: 20px;
}

.loginpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.loginpage .links a:hover {
  text-decoration: underline;
}

.right-corner {
  position: absolute;
  top: 10px;
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.right-corner img {
  width: 45px;
}




/*<span class="loader"></span> */
.loader{
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 48px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffb00;
  }
  .loader:before, .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0)
  }
  50% {
    height: 10px;
    width: 40px
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%)
  }
}









/*-----------------------------------   forgotpassword page   -----------------------------------*/

.forgotpasswordpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.forgotpasswordpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
}

.forgotpasswordpage .forgotpassword-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.forgotpasswordpage .forgotpassword-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.forgotpasswordpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.forgotpasswordpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.forgotpasswordpage input::placeholder {
          color: cadetblue;
          font-style: italic;
          transition: color 0.3s ease;
}

.forgotpasswordpage input:focus::placeholder {
          color: transparent;
}

.forgotpasswordpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}



.forgotpasswordpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.forgotpasswordpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.forgotpasswordpage .links {
  margin-top: 20px;
}

.forgotpasswordpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.forgotpasswordpage .links a:hover {
  text-decoration: underline;
}

#forgotText {
  font-size: small;
  color: whitesmoke;
}

.elfelejtettValasz {
  font-weight: bold;
  color: greenyellow;
}

.varakozoSzoveg {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}
















/*-----------------------------------   uploaddatabase page   -----------------------------------*/

.uploaddatabasepage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.uploaddatabasepage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}

.uploaddatabasepage .container {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  background-color: #3D3D3D;
  border-radius: 10px;
  border: 3px solid gray;
  color: white;
  padding: 20px;
  margin: 5%;
}


.uploaddatabasepage h1 {
  font-size: 2vw;
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 32%;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}



.uploaddatabasepage .tallozas, .kuldes {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

.uploaddatabasepage .tallozas:hover, .kuldes:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.uploaddatabasepage .tallozas:active, .kuldes:active {
  transform: scale(0.92);
}


.uploaddatabasepage .scrollable-container {
  max-height: 200px; 
  overflow-y: auto; 
  padding-right: 10px; 

  margin-top: 10px;
  width: 100%; 
  max-width: 580px;
  display: block;
  padding: 10px;
}
/*  border: 1px solid #ccc;*/

.uploaddatabasepage .scrollable-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.uploaddatabasepage .scrollable-container li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd; 
}

.uploaddatabasepage .scrollable-container li:last-child {
  border-bottom: none; 
}


.uploaddatabasepage .megjelenoAdatok {
  font-weight: bold;
}






@media (max-width: 1024px) { 

  .uploaddatabasepage .container {
    flex-direction: column;
    height: 75%;
  }

  .uploaddatabasepage .email-section {
    flex: 1;
    border-right: none;
    padding-bottom: 30%;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 25%;
  }
}

@media (max-width: 768px) { 
  html, body {
    overflow-y: auto;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 30%;
    font-size: 2vw;
  }

  .uploaddatabasepage h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  html, body {
    overflow-y: auto;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    width: 30%;
    font-size: 2.4vw;
  }

  .uploaddatabasepage h2 {
    font-size: 18px;
  }

  .uploaddatabasepage .container {
    padding: 10px;
    padding-bottom: 20px;
    height: 92vh;

  }

  .uploaddatabasepage article {
    min-height: 10vh;
    overflow-y: auto;
  }

  .uploaddatabasepage h1 {
    font-size: 4vw;
  }

  .uploaddatabasepage .megjelenoAdatok {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    overflow-y: auto;
  }

  .hibaContainer {
    border-bottom: 1px solid white;
  }

  .uploaddatabasepage .container {
    overflow: hidden;
  }
  
  .uploaddatabasepage .scrollable-container {
    max-height: 100px; 
  }

}

@media (max-width: 375px) {  
  .uploaddatabasepage h2 {
    font-size: 16px;
  }

  .uploaddatabasepage .browse-btn,
  .uploaddatabasepage .send-btn {
    font-size: 14px;
    padding: 8px;
    width: 40%;
    font-size: 4vw;
  }

  .uploaddatabasepage h1 {
    padding: 10px 5px; 
  }

  .uploaddatabasepage .megjelenoAdatok {
    font-size: 4vw;
    font-weight: bold;
  }

}























/*-----------------------------------   register page   -----------------------------------*/

.registerpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.registerpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
}

.registerpage .registration-container {
  background: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: center;
}

.registerpage .registration-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.registerpage .input-group {
  position: relative;
  margin-bottom: 30px;
}

.registerpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.registerpage input::placeholder {
  color: cadetblue;
  font-style: italic;
  transition: color 0.3s ease;
}

.registerpage input:focus::placeholder {
  color: transparent;
}

.registerpage .input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808db1;
  pointer-events: none;
  transition: 0.2s ease all;
}

.registerpage .actions button {
  width: 100%;
  padding: 10px;
  background: cadetblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registerpage .actions button:hover {
  background: orangered;
  transform: scale(1.05);
}

.registerpage .links {
  margin-top: 20px;
}

.registerpage .links a {
  color: cadetblue;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

.registerpage .links a:hover {
  text-decoration: underline;
}

.regszoveg {
  font-size: 13px;
}























/*-----------------------------------   usersmanagement page   -----------------------------------*/
.usersmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  max-width: 100%;
}

.usersmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usersmanagement article {
  width: 1200px;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden;
  margin: 0% 1% 10% 1%;
}




#kuldes:active {
  transform: scale(0.92);
}



.usersmanagement .table-container {
  overflow-x: auto;
}
 
.usersmanagement h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}

.usersmanagement #Kereses {
  width: 25%;
}







@media (max-width: 1200px) {
  .usersmanagement article {
    width: auto;
    margin-bottom: 15%;
    margin-top: 10%;
  }

  .usersmanagement {
    overflow: scroll;
  }
}



@media (max-width: 768px) {
  .usersmanagement article {
    margin: 15% 1% 40% 1%;
  }

  .usersmanagement #Kereses {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .usersmanagement article {
    margin: 10%;
  }

  .usersmanagement h1 {
    font-size: 5vw;
  }

  .usersmanagement #Kereses {
    font-size: 3vw;
    width: 100%;
  }
}

















/*-----------------------------------   studentsmanagement page   -----------------------------------*/
.studentsmanagement * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  max-width: 100%;
}
  
.studentsmanagement {
  max-width: 100%;
}
.studentsmanagement {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}
  
.studentsmanagement article {
  width: auto;
  height: 610px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: hidden;
  margin: 0% 10% 0% 10%;
}
  
.studentsmanagement .search-container {
  max-width: 300px; 
  margin-left: 10px;
  margin-bottom: 20px;
}

.studentsmanagement table thead {
  position: sticky;
  top: 0; 
  background-color: #343a40; 
  z-index: 1; 
}

.studentsmanagement .table-container {
  overflow-x: auto;
}

#kuldes:active {
  transform: scale(0.92);
}
  
.studentsmanagement input {
  color: black;
}

.studentsmanagement h1 {
background-color: lightslategrey;
padding: 10px 20px; 
margin: 0 auto;
margin-bottom: 20px;
border-radius: 15px; 
color: white;
text-align: center;
}




@media (max-width: 1200px) {
  .studentsmanagement article {
    margin: 0% 5% 0% 5%;
  }
}

@media (max-width: 768px) {

}


@media (max-width: 480px) {

}












/* ------------------------------------ reset password  -----------------------------*/

.resetpasswordpage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: black;
}
  
.resetpasswordpage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}
  
.resetpasswordpage article {
  width: 30%;
  height: 55%;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-left: 40px;
  overflow: hidden
}


.resetpasswordpage .input-group {
  display: flex;
  flex-direction: column;
   align-items: center;
}

.resetpasswordpage .input-group input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #4f5b7a;
  border-radius: 5px;
  color: white;
  outline: none;
}

.resetpasswordpage input::placeholder {
  color: cadetblue;
  font-style: italic;
  transition: color 0.3s ease;
}

.resetpasswordpage input:focus::placeholder {
  color: transparent;
}



.resetpasswordpage p {
  color: white;
  text-align: center;
  padding-bottom: 30%;
  padding-top: 70%;
}



#resetBtn {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
  width: 60%;
}

#resetBtn:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#resetBtn:active {
  transform: scale(0.92);
}

.resetpasswordpage h2 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 5%;
  border-radius: 15px; 
  color: white;
  text-align: center;
}

.resetpasswordpage span {
  color: white;
  padding: 4% 0% 4% 0%;
}





@media (max-width: 1200px) {
  .resetpasswordpage article {
    width: 40%;
    height: auto
  }

  #resetBtn {
    width: 50%; 
  }
}



@media (max-width: 768px) {
  .resetpasswordpage {
    padding: 5%;
  }

  .resetpasswordpage article {
    width: 60%;
    height: auto;
    padding: 15px;
  }

  .resetpasswordpage h2 {
    font-size: 20px;
  }

  .resetpasswordpage .input-group input {
    width: 90%;
    padding: 8px;
  }

  
  #resetBtn {
    width: 60%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .resetpasswordpage article {
    width: 90%;
    padding: 10px;
    height: auto;
  }
  
  .resetpasswordpage h2 {
    font-size: 18px;
  }

  .resetpasswordpage .input-group input {
    width: 100%;
    font-size: 14px;
  }

  #resetBtn {
    width: 80%;
    font-size: 14px;
    padding: 10px;
  }

  .resetpasswordpage p {
    font-size: 14px;
    padding-bottom: 10%;
    padding-top: 10%;
  }
}


















/*-----------------------------------   logspage   -----------------------------------*/
.logspage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  max-width: 100%;
}


.logspage {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
  height: 100vh;
}



.logspage article {
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.szures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#nemkaptaebbenahonapban, #legutoljarapenzugy, #kimaradtkikuldesek, #hanypdfkuldesegyevben, #sohanemkapottpfdet {
  background-color: #5f9ea0;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: bold;
}

#nemkaptaebbenahonapban:hover, #legutoljarapenzugy:hover, #kimaradtkikuldesek:hover, #hanypdfkuldesegyevben:hover, #sohanemkapottpfdet:hover {
  background-color: #e74c3c;
  transform: translateY(-2px) scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#nemkaptaebbenahonapban:active, #legutoljarapenzugy:active, #kimaradtkikuldesek:active, #hanypdfkuldesegyevben:active, #sohanemkapottpfdet:active{
  transform: scale(0.92);
}



.logspage h1 {
  background-color: lightslategrey;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px; 
  color: white;
  text-align: center;
}


.nszInput{
  color: black;
}

.nevSzures{
   margin-top: 15px;
}

.logspage .table-container {
  overflow-x: auto;
  overflow-y: auto; 
  max-height: 50vh; 
}



@media (max-width: 800px) {
  .szures{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  
  .logspage article {
    margin: 0% 1% 0% 1%;
  }
}
@media (max-width: 600px) {
  
  .logspage table{
    max-width: 100%;
  }
  
  .szures{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  #tableLogs{
    width: 25%;
  }    

}















/*-----------------------------------   navigációs sáv   -----------------------------------*/
.navigacio {
  background-color: #3D3D3D;
  color: white;
  padding: 10px 0;  
}

.navigacio a, 
.navigacio button {
  color: white;
  padding: 15px 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  margin: 5px; 
  text-align: center;
  display: inline-block;
}

.navigacio a:hover, 
.navigacio button:hover {
  color: white;
  text-shadow: 2px 2px 5px rgba(231, 76, 60, 0.5); 
  background-color: #e74c3c;
  transform: scale(1.1);
}

.navigacio a:visited, 
.navigacio button:visited {
  color: white; 
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}


@media (max-width: 768px) { 
  .navigacio {
    text-align: center;
  }

  .navigacio a, 
  .navigacio button {
    display: block; 
    width: 90%;
    margin: 5px auto; 
  }

  .navbar-nav {
    flex-direction: column; 
    align-items: center;
  }
}

@media (max-width: 480px) { 
  .navigacio a, 
  .navigacio button {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}














/*-----------------------------------   oldal betöltése szöveg   -----------------------------------*/
.center-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

.loading-body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  height: 100vh;
}










